<!DOCTYPE html>
<html>
<head>
<title>Dashboard - Career Mitra</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="dashboard-body">

<div class="dashboard">

    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <div class="profile">
            <img id="profileImage" src="https://via.placeholder.com/120">
            <h3 id="userName">Loading...</h3>
            <p id="userId"></p>

            <input type="file" id="uploadPhoto">
        </div>

        <div class="menu">
            <button>🏠 Dashboard</button>
            <button>🎯 Career Test</button>
            <button>📊 My Result</button>
            <button onclick="openCareerPath()">📚 Learning Path</button>
            <button onclick="logout()">🚪 Logout</button>
        </div>
    </div>


    <!-- RIGHT CONTENT -->
    <div class="main-content">

       <h2 class="header-title">Welcome to Career Mitra 👋</h2>

        <div class="start-box">
            <h3>Discover Your Best Career Path</h3>
            <a href="{{ url_for('form') }}">
                <button class="start-btn">Explore Your Career</button>

            </a>
        </div>
     <div class="kpi-container">
        <div class="kpi-card">
            <h4>Total Attempts</h4>
            <p id="totalAttempts">0</p>
        </div>

        <div class="kpi-card">
            <h4>Average Score</h4>
            <p id="avgScore">0</p>
        </div>

        <div class="kpi-card">
            <h4>Best Score</h4>
            <p id="bestScore">0</p>
        </div>
    </div>

     <!-- MAIN GRID -->
    <div class="grid-container">

        <!-- LEFT SIDE -->
        <div class="left-panel">

            <div class="card1">
                <h3>🎯 Latest Result</h3>
                <p id="latestCareer">No result yet</p>
                <p id="latestScore"></p>
            </div>

            <div class="card1">
                <h3>📈 Performance Chart</h3>
               
                <canvas id="barChart"></canvas>
               
            </div>

        </div>

        <!-- RIGHT SIDE -->
        <div class="right-panel">

            <div class="card1">
                <h3>📊 Result Timeline</h3>
                <div id="history"></div>
            </div>

            <div class="card1">
                <h3>🥧 Score Distribution</h3>
                <canvas id="pieChart"></canvas>
            </div>

        </div>

    </div>

        
    </div>

</div>

<script type="module" src="{{ url_for('static',filename='script.js') }}"></script>

</body>
</html>
