<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Mitra - Smart Career Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="logo-area">
            <div class="logo">Career Mitra</div>
            <div class="sub-logo">Online Career Recommendation</div>
        </div>

        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="hero-content">

            <!-- Left Side Text -->
            <div class="hero-text">

                <h2 class="big-welcome">Welcome to </h2>

                <h1>Career Mitra</h1>

                <h3>(Smart Career Guide)</h3>

                <p>
                    Your career should not be decided by marks alone, but by your interests,
                    skills, and strengths. Our system analyzes your academic performance,
                    technical skills, and personal interests to recommend the most suitable
                    career path in Computer Science.
                </p>

            </div>

            <!-- Right Side Image -->
            <div class="hero-image">
                <img src="{{ url_for('static',filename='career photo.png') }}" alt="Career Image">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section class="about" id="about">
        <h2>About The System</h2>
        <p>
            This Online Career Recommendation System helps Computer Science students
            discover the most suitable career path based on their academic performance,
            skills, interests, and personality traits.
        </p>
    </section>

    <!-- Features -->
    <section class="features">
        <div class="card">
            <h3>Skill Based Analysis</h3>
            <p>Analyze your strengths in programming and core CS subjects.</p>
        </div>

        <div class="card">
            <h3>Personalized Result</h3>
            <p>Get career suggestions tailored specifically for you.</p>
        </div>

        <div class="card">
            <h3>CSE Focused</h3>
            <p>Designed exclusively for B.Tech Computer Science students.</p>
        </div>
    </section>

    <footer>
        © 2026 Career Mitra | B.Tech CSE Minor Project
    </footer>
    <script src="{{ url_for('static',filename='script.js') }}"></script>

</body>
</html>     
